body{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
h1{
    width: 100%;
    text-align: center;
}
main{
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 1em;
}



.contenedor-formulario{
    border: 0.2px solid rgba(0, 0, 0, 0.228);
    min-width: 40%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
}

.contenedor-formulario input, button{
    width: 100%;
    height: 35px;
    border: 0.2px solid rgba(0, 0, 0, 0.228);
    border-radius: 8px;
}



.contenedor-tareas{
 /*    border: 0.2px solid; */
    min-width: 40%;
    max-height: 35%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 0.5em;
}

.div-tarea{
    min-width: 70%;
    min-height: 180px;
    max-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    border: 0.2px solid;

}

.div-tarea button{
    outline: none;
    border: none;
    width: 30%;
}



.div-mensaje{
    width: 30%;
    padding: 0.5em;
    text-align: center;
    color: white;
    position: absolute;
    top: 5em;
    border-radius: 12px;
}

.verde{
    background-color: green;
}

.rojo{
    background-color: red;
}


@media (max-width: 740px) {
    body{
        font-size: 16px;
    }
} 


footer{
    width: 100%;
    text-align: center;
}